<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>

<% if user_signed_in? %>
  <%= link_to 'New Message', new_message_path %>
  <% else %>
  <%= link_to 'Sign In to Create Messages', new_user_session_path %>
<% end %>

<div>
  <% @messages.each do |message| %>
  <div class="message-container">
    <div class="message-details">
      <div class="title"><%= message.title %></div>
      <div class="user"><%= message.user %> - <%= message.user_email %></div>
      <div class="message-content"><%= message.content %></div>
      <% if user_signed_in? && current_user.email == message.user_email %>
        <div class="message-links-container">
          <div class="message-links"><%= link_to 'Details', message %></div>
          <div class="message-links"><%= link_to 'Edit', edit_message_path(message) %></div>
          <div class="message-links"><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      <% end %>
      <div class="message-comments-container">
        <p>Comments</p>
        <% message.comments.each do |comment| %>
          <div class="message-comments">
            <div><%= comment.comment_text %></div>
            <div><%= link_to 'Delete', [message, comment], method: :delete, data: { confirm: 'Sure?' } %></div>
          </div>
        <% end %>
      </div>
      <div class="comment-form">
        <%= form_for ([message, Comment.new]) do |f| %>
          <div class="field">
            <%= f.label 'New Comment' %> </br>
            <%= f.text_field :comment_text %>
          </div>
          <div class="submit">
            <%= f.submit %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
