<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>
<%= link_to 'New Message', new_message_path %>

<div>
  <% @messages.each do |message| %>
  <div class="message-container">
    <div class="message-details">
      <div class="title"><%= message.title %></div>
      <div class="user"><%= message.user %></div>
      <div class="message-content"><%= message.content %></div>
      <div class="message-links-container">
        <div class="message-links"><%= link_to 'Details', message %></div>
        <div class="message-links"><%= link_to 'Edit', edit_message_path(message) %></div>
        <div class="message-links"><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
      <div>
        <p>Comments</p>
        <% message.comments.each do |comment| %>
          <div><%= comment.comment_text %></div>
        <% end %>
      </div>
      <div class="comment-form">
        <%= form_for ([message, Comment.new]) do |f| %>
          <div class="field">
            <%= f.label 'New Comment' %> </br>
            <%= f.text_field :comment_text %>
          </div>
          <div class="submit">
            <%= f.submit %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
